:root {
    --accentOne-color: #DD8844;
    --accentTwo-color: #E9B872;
    --plain-color: #FAF9F6;
    --text-color: #502419;
    --background-color: #6494AA;
    --danger-color: #e74c3c;
    --success-color: #2ecc71;
}

