:root {
    --accentOne-color: #DD8844;
    --accentTwo-color: #E9B872;
    --plain-color: #FAF9F6;
    --text-color: #502419;
    --background-color: #6494AA;
    --danger-color: #e74c3c;
    --success-color: #2ecc71;
}

.box {
    background-color: var(--accentTwo-color);
    border-radius: 10px;
    border: 5px solid var(--accentOne-color);
    max-width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.loginForm {
    background-color: var(--plain-color);
    border-radius: 10px;
    margin: 10px;
}

.innerForm {
    background-color: var(--plain-color);
    border-color: var(--accentOne-color);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}

form label, form input, #signee {
    padding: 10px;
    margin: 10px;
}

form input, #signee {
    border-radius: 10px;
    border: 2px solid var(--accentOne-color);
    color: var(--text-color);
    width: 90%;
    max-width: 20rem;
}

.eye {
    border-radius: 5px;
    border: 2px solid var(--accentOne-color);
    color: var(--text-color);
    font-size: 20px;
}

.loginButton {
    background-color: var(--accentTwo-color);
    font-weight: bold;
    max-width: 10rem;
    display: block;
    margin: auto;
}

#createAccount {
    text-align: center;
    margin: 10px;
    padding: 5px;
    display: block;
    margin: auto;
}