:root {
    --accentOne-color: #DD8844;
    --accentTwo-color: #E9B872;
    --plain-color: #FAF9F6;
    --text-color: #502419;
    --background-color: #6494AA;
    --danger-color: #e74c3c;
    --success-color: #2ecc71;
}

/* Font - palanquin dark
regular
    font-family: "Palanquin Dark", serif;
    font-weight: 400;
    font-style: normal;
medium
    font-family: "Palanquin Dark", serif;
    font-weight: 500;
    font-style: normal;
semibold
    font-family: "Palanquin Dark", serif;
    font-weight: 600;
    font-style: normal;
bold
    font-family: "Palanquin Dark", serif;
    font-weight: 700;
    font-style: normal;
Font - imprima
regular
  font-family: "Imprima", serif;
  font-weight: 400;
  font-style: normal;*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: "Imprima", serif;
    font-weight: 400;
    color: var(--text-color);
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    color: var(--text-color);
    font-family: "Palanquin Dark", serif;
    font-weight: 700;
    text-align: center;
    padding: 2px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.1rem;
}

p {
    text-align: center;
    padding: 2px;
}

/* Navigation Bar for all pages */

header {
    background-color: var(--accentTwo-color);
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .welcome {
    font-weight: bold;
    font-size: 1.25rem;
}

header button {
    background-color: var(--plain-color);
    font-weight: bold;
    max-width: 10rem;
    padding: 5px;
    border: 5px solid var(--accentOne-color);
    border-radius: 5px;
    cursor: pointer;
}

nav {
    margin-left: 25px;
}

nav ul {
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
    background-color: var(--accentOne-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

nav ul li {
    background-color: var(--plain-color);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

nav ul li a {
        color: var(--text-color);
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
}

nav ul li:hover {
    transform: scale(1.2);
}

/* box css for all pages */
.outerBox {
    background-color: var(--accentTwo-color);
    border-radius: 10px;
    border: 5px solid var(--accentOne-color);
    display: block;
    max-width: 65%;
    margin: 10px auto;
}

.outerBoxLower {
    background-color: var(--accentTwo-color);
    border-radius: 10px;
    border: 5px solid var(--accentOne-color);
    display: block;
    margin: 10px;
}

.innerBox {
    background-color: var(--plain-color);
    border-color: var(--accentOne-color);
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px;
    max-width: 55%;
}

.middleBox {
    display: flex;
    flex-wrap: wrap;
}

.innerBoxes {
    background-color: var(--plain-color);
    border-color: var(--accentOne-color);
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px;
}

.innerBoxes button, .innerBox button {
    background-color: var(--accentTwo-color);
    font-weight: bold;
    max-width: 10rem;
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* Link to edit buttons */
.btnLnk {
    text-decoration: none;
    color: var(--text-color);
}