:root {
    --accentOne-color: #DD8844;
    --accentTwo-color: #E9B872;
    --plain-color: #FAF9F6;
    --text-color: #502419;
    --background-color: #6494AA;
    --danger-color: #e74c3c;
    --success-color: #2ecc71;
}

form {
    display: flex;
    flex-direction: row;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.2rem;
}

fieldset {
    background-color: var(--accentTwo-color);
    border: 2px solid var(--accentOne-color);
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}